<% provide(:title, "Home") %>

<div id="full_name"><% get_name(:language) %></div>
<div id="contact">
	<ul id="contact_info">
		<li><% get_university(:language) %></li>
		<li><% get_email(:language) %></li>
		<li><% get_phone(:language) %></li>
	</ul>
</div>
<div id="profile">
	<% get_intro(:language) %> 
</div>
