/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
 	text-align: center;
 }

 #interlink a{
 	font-size: 25px;
 	position: inherit;
 	text-decoration: none;
 	display:block;
 	margin-left: 0px;
 	border: 0px;
 	padding: 0px;
 	color: black;
 	width: 100%;
 	height: 20%;
 	background-size: 20% 100%;
 	margin-top: 35%;
 	margin-bottom: 30%;
 }

 #interlink a:hover{
 	background-color: black;
 	font-size: 34px;
 	color: white;
 }

 #page{
 	width: 90%;
 	height: 90%;
 	left: 5%;
 	border: 0px solid #000;
 	position: absolute;
 }

 #navigator{
 	float:inherit;
 	position: relative;
 	text-align: center;
 	width:15%;
 	height:100%;
 	text-align: center;
 	font-family: times;
 	background-color: white;
 	margin-top: 0px;
 	margin-left: 0px;
 	padding: 0px,0px,0px,0px;
 	border: 0px;
 	border-radius: 0 25px 25px 0;
 	opacity: 50%;
 }

 #header{
 	height:20%;
 	width: 100%;
 	position: relative;
 	background-color: green;
 }

 #interlink ul{
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 }

 #interlink ul li{
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 }

 #lang_link ul{
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 }

 #lang_link ul li{
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 }

 #lang_link a{
 	text-decoration: none;
 	margin-left: 1%;
 	color: black;
 }

 #language{
 	font-size: 15px;
 	width: 30%;
 	position: inherit;
 	left:40%;
 	top:70%;
 	bottom: 0%;
 }

 #frame{
 	height:100%;
 	width:85%;
 	position: relative;
 	float: inherit;
 	text-align: center;
 	margin-left: 0%;
 	border: 0px solid #00F;
 	background-color:red;
 }

 #mainframe{
 	float: left;
 	height:80%;
 	position: absolute;
 	width: 100%;
 	border: 0px solid #000;
 }
