@import "bootstrap-sprockets";
@import "bootstrap";

#contact_info li {
	list-style-type: none;
 	margin: 0;
 	padding: 0;
}

#contact {
	text-align:left;
	width:50%;
}

#full_name {
	font-size: 28px;
	font-type: "Times";
}