// Place all the styles related to the outer_links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.selection {
	text-align:left;
}

li {
	list-style-type: none;
}

.submit_invisible {
	 visibility:hidden;
}