<div id='language'>
	<nav id='lang_link'>
		<ul>
			<%= link_to 'English', '#', :language=>'English'%>
			<%= link_to '中文', '#', :language=>'Chinese'%>
			<%= link_to '日本語', '#', :language=>'Japanese'%>
		</ul>
	</nav>
</div>