<div id='language'>
	<nav id='lang_link'>
		<ul>
			<%= link_to 'English', appendUrl(request.url,'English'), :lang=>'English', :class=>'lang'%>
			<%= link_to '中文', appendUrl(request.url,'Chinese'), :lang=>'Chinese', :class=>'lang'%>
			<%= link_to '日本語', appendUrl(request.url,'Japanese'), :lang=>'Japanese', :class=>'lang'%>
		</ul>
	</nav>
</div>