			<nav id='interlink'>
				<ul>
					<li><%= link_to 'Home', index_path, :id=>'home_link', :onclick=>'intermission('+&#39;+yield(:title)+' &#39;,'+"&#39; Home &#39;"+')'%></li>
					<li><%= link_to 'Work', work_path%></li>
					<li><%= link_to 'Interest', interest_path%></li>
				</ul>
			</nav>