			<nav id='interlink'>
				<ul>
					<li><%= link_to 'Home', index_path, :id=>'home_link'%></li>
					<li><%= link_to 'Work', work_path, :id=>'work_link'%></li>
					<li><%= link_to 'Interest', interest_path, :id=>'interest_link'%></li>
				</ul>
			</nav>