			<nav id='interlink'>
				<ul>
					<li><%= link_to 'home', 'index_path'%></li>
					<li><%= link_to 'work', 'work_path'%></li>
					<li><%= link_to 'interest', 'interest_path'%></li>
				</ul>
			</nav>